body{
    background-color: rgb(91, 91, 245);
    font: normal 15pt arial;
}
header#cabecalho{
    text-align: center;
    color: white;
    
}
section#corpo{
    background: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 150px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}
footer#rodape{
    text-align: center;
    font-size: 12pt;
    color: white;
    font-style: italic;
}